node_modules
vendor
.env
.env.backup
.git
.gitignore
storage/framework/views/*
storage/framework/cache/*
storage/framework/sessions/*
storage/logs/*
backups
scraper-jogadinha/chrome
*.rar
*.zip
*.tar.gz
*.7z
*.log
tests
